version: 2
jobs:
  build:
    docker:
      - image: circleci/ruby:2.3-node-browsers
    working_directory: ~/lansingcodes/api
    environment:
      TZ: America/Detroit
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dep-{{ .Branch }}-{{ checksum "Gemfile.lock" }}
            - v1-dep-master-
            - v1-dep-
      - run:
          environment:
            RAILS_ENV: test
            RACK_ENV: test
          command: |
            bundle check || bundle install
            bundle exec rspec
      - save_cache:
          key: v1-dep-{{ .Branch }}-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle
            - ~/.bundle
  dockerbuild:
    machine: true
    steps:
      - checkout
      - run:
          command: |
            docker build -t lcapi .
  deploy:
    machine: true
    steps:
      - checkout
      - run:
          command: |
            docker build -t lcapi .
            docker login -u $DOCKER_USER -p $DOCKER_PASS
            docker tag lcapi:latest lansingcodes/lcapi:latest
            docker push lansingcodes/lcapi:latest
            ssh lcapi@aws-docker-1.atomaka.com "bash /home/lcapi/deploy.sh"
workflows:
  version: 2
  test-and-deploy:
    jobs:
      - build
      - dockerbuild:
          filters:
            branches:
              ignore: master
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: master
